.main{
    background-image: url('./Components/Assets/back.jpg');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;   
    display: flex;
    justify-content: center;
    align-items: center;
    filter: saturate(70%) blur(10px);
}

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}